@import "tailwindcss";


body {
  background: #1e1e1e;
  display: flex;
  justify-content: center;
  padding-top: 40px;
  font-family: Arial, sans-serif;
}

.keyboard {
  background: #2c2c2c;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.6);
}

.row {
  display: flex;
  margin-bottom: 10px;
}

.key {
  background: linear-gradient(145deg, #3a3a3a, #2b2b2b);
  border-radius: 8px;
  color: white;
  margin-right: 8px;
  height: 60px;
  width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow:
    4px 4px 8px #1a1a1a,
    -2px -2px 5px #444;
  transition: all 0.1s ease;
  cursor: pointer;
}

/* Key Sizes */
.medium { width: 90px; }
.large { width: 120px; }
.xlarge { width: 150px; }
.space { width: 400px; }

/* Active Key Effect */
.key.active {
  background: linear-gradient(145deg, #ff4d4d, #b30000);
  transform: translateY(4px);
  box-shadow:
    inset 2px 2px 6px #800000,
    inset -2px -2px 6px #ff6666;
}


.pressed-key {
  text-align: center;
  margin-top: 30px;
  color: white;
  font-size: 28px;
  font-weight: bold;
}

.xxl {
  min-width: 180px;
}

.space {
  min-width: 520px;
}
