.App{
    font-family: sans-serif;
    text-align: center;
}

.heading-container{
    display: flex;
}

.heading{
    padding: 5px;
    border: 1px solid black;
    cursor: pointer;
   
}

.heading.selected {
  background-color: #19b6d2;
  color: white;
}

.tab-body{
    display: flex;
    border: 1px solid black;
    height: 200px;
    padding: 5px;
}

.profile{
    margin: 10px;

}

.profile-name{
    margin: 5px;
    padding: 2px;
    width: auto;

}

.input-name{
    padding: 3px;
}

.submit{
    background-color: #19b6d2;
    color: white;
}

.navigation{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.error{
    color: red;
    display: block;
    font-size: small;
}