.App{
  font-family: sans-serif;
  text-align: center;
}

.accordion{
  width: 100%;
  max-width: 500px;
  margin: auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
}

.accordion-item{
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #fff;
}

.accordion-title{
  width: 100%;
  padding: 15px;
  text-align: left;
  background-color: #f1f1f1;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.accordion-content{
  font-size: 16px;
  color: #666;
  text-align: center;
  padding: 10px;
}

.accordion-title:hover{
  background-color: #e0e0e0;
}